    {% extends 'base.html.twig' %}


    {% block title %}
        création d'un produit
    {% endblock %}

    {% block body %}
        <h1>Nouveau produit</h1>

        {{ form(formview) }}

    {% endblock %}